@font-face {
    src: url(../fonts/Tamira-lwA0.ttf);
    font-family: 'Tamira';    
    font-weight: normal;
} 

@font-face {
    src: url(../fonts/aladdin.ttf);
    font-family: 'aladdin';    
    font-weight: normal;
} 

@font-face {
    src: url(../fonts/BLKCHCRY.ttf);
    font-family: 'BLKCHCRY';    
    font-weight: normal;
} 

#NomePerfil{
  font-family: 'BLKCHCRY';
}

/*h4{
  font-family: 'Tamira';
}*/