body{
	margin: 0;
	padding: 0;
	font-family: 'Vollkorn', serif;
}

h1, h2, h3 {
	color: #1d3a28;
}

p {
	color: #70747A;
  line-height: 1.6;
}

cite {
  color: #3CB371;
}

nav {
  height: 80px;
  line-height: 80px;
  position: relative;
  width: 100%;
}

.content {
  margin-left: 4em;
  margin-right: 4em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  padding-top: 5em;
}

.content h1 {
	font-size: 32px;
  text-align: center;
}

.content h2 {
	font-size: 26px;
}

.content h3 {
  font-size: 20px;
  text-align: center;
}

#home .banner {
  /*height: 550px;*/
  background-image: url(../img/banner.png);
  background-position: center;
	background-size: cover;
  padding: 12em 0;
}

.banner p {
  color: #000;
}

.slogan {
padding-left: 5%;
font-weight: bold;
}

.slogan p {
  font-size: 32px;
}

.slogan h1 {
  font-size: 54px;
  color: #fff;
}


/* nav */
.nav-container {
	padding: 0 4em;
	box-sizing: border-box;
  background: #3CB371;
  position: fixed;
}

.box-shadow{
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
	           0 1px 5px 0 rgba(0,0,0,0.12), 
	           0 3px 1px -2px rgba(0,0,0,0.2);
}

.logo {
	width: 50px;
  padding-top: 18px;
}

.nav-items {
  float: right;
	list-style: none;
	position: relative;
	display: inline-block;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.nav-items ul{
  margin: 0;
  padding: 0;
  float: left;
}

.nav-menu ul {
  display: none;
}

.nav-menu li:hover > ul{
  display: block;
}

.nav-menu li ul li:hover {
  background: #3CB371;
 }

.nav-items li {
	display: inline-block;
  position: relative; 
  float: left;
  width: 100px;
}

.nav-items li:hover{ 
  background: #308f5a;
  transition: 0.05s;
}

.nav-items li a {
	text-decoration: none;
  padding: 10px;
  color: #fff;
  font-size: 1.125em;
}

/*  section about  */


.session-about {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.session-about p {
  text-indent: 1.5em;
}

.session-title {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
  background: linear-gradient(135deg, #089455, #5fd38e);
  color: #FFF;
  font-style: italic;
  width: 60%;
}

.session-about-citacao {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left!important;
  margin-bottom: 5%;
}

.session-about-citacao .citacao{
  max-width: 70%;
  font-size: 0.875em;
  color: #3CB371;
}


.uniao {
  background-image: url(../img/sobre/unidos.png);
  background-position: center;
  background-size: cover;
  width: 40%;
  height: 225px;
  float: left;
  border-radius: 5px;
  margin-right: 20px;
}


/*  sections Eventos   */

#event-session {
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.events-photo {
  flex: 1 1 200px;
  max-width: 270px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

#event-session #natal2019 {
  height: 80%;
  background-image: url(../img/events/natal2019/photo1.jpg);
  background-position: center;
  background-size: cover;
}

#event-session #natalsolidario2019 {
  height: 80%;
  background-image: url(../img/events/natalsolidario2019/photo1.jpg);
  background-position: center;
  background-size: cover;
}

#event-session #pascoa2019 {
  height: 80%;
  background-image: url(../img/events/pascoa2019/photo1.jpg);
  background-position: center;
  background-size: cover;

}

.photo {
  border-radius: 15px;
}

/* contato */

#contact {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 5em;
  margin-top: 2em;
  background-color: #3CB371;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.contact-title {
  color: #FFF;
  font-style: italic;
}

#contact h2 {
  font-size: 36px;
}

#contact p {
  font-size: 20px;
  margin-bottom: 40px;
}

#contact input, #contact textarea {
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #CCC;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  /*margin: auto 10px 20px 10px;  outra forma para fazer o que esta acima*/
}

#contact textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 468px;
  height: 150px;
}

#contact input[type=submit] {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  color: #FFF;
}

/* footer */

footer p {
 padding: 0;
 margin: 0;
 color: #fff;
 font-size: 12px;
}

footer {
  text-align: center;
  padding: 2em 0;
  background: #333;
}